## SERVER

server/node_modules
server/.env

server/logs/*/*.log
server/templates/*.pdf
server/templates/*.csv

## WEB

web/.eslintcache

# dependencies
web/node_modules
web/.pnp
web/.pnp.js

# testing
web/coverage

# production
web/build

# misc
web/.DS_Store
web/.env
web/.env.local
web/.env.development.local
web/.env.test.local
web/.env.production.local

web/npm-debug.log*
web/yarn-debug.log*
web/yarn-error.log*
