<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Event Report</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<body class="m-3">
  <h1 class="mb-3 text-center">{{title}}</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Roll No</th>
        <th scope="col">Name</th>
      </tr>
    </thead>
    <tbody>
        {{#each users}}
          <tr>
            <th scope="row">{{this.rollNo}}</th>
            <td>{{this.name}}</td>
          </tr>
        {{/each}}
    </tbody>
  </table>
</table>
</body>
</html>